img {
  max-width: 100%;
}

body {
  text-align: center;
  line-height: 1.5;
  font-size: 100%;
  color: white;
}

article {
  border-bottom: 4px solid black;
  margin: 0 2.5%;
  padding: 2% 0;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 2em;
}

address {
  color:grey;
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: white;
}

a:hover, a:focus {
  color: tomato;
}

a:visited {
}
