
.img {
max-width: 65%;
}

.main-nav{
color:black;
}
.index-title{
font-size:2em;
color: black;
}
.title-portfolio-item{
  font-size:2em;
  color: black;
}
.body-portfolio{
  font-size:2em;
  color: black;
}
.read-on{
  font-size:2em;
  color: black;
}
#data/Article.json{
font-size:2em;
color: black;
}
#projects{
  font-size:1em;
  color: black;
}
