@media only screen and (min-width: 414px){
	.container {
		width: 2000px;
	}
html{

}
h1 {
	color:white;
	background-image: url("http://placehold.it/350x150");
	background: rgba(0,0,0,0.41);
  height: 100%;
	width: 100%;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
}
body {
  clear: both;
  background-color: #6D7993;
  background-image: url("../image/background.png");
  background-repeat: no-repeat;
  background-size: 100vw  ;
  color: white;
  font-family: arial;
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  margin: 0px;
}

img.about {
  height: 200px;
  width: 200px;
  float: left;
  padding: 0px 15px 15px 15px;
}

main {
  font-family: 'Josefin Sans', sans-serif;
  clear: both;
  text-align: center;
  overflow-y: hidden;
  max-width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 16%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.main, ol, li, a, #none  {
	font-family: 'Josefin Sans', sans-serif;
  display: grid;
  text-align: left;
  font-size: 24px;
  list-style-type: none;
  position: relative;
  color: white;
  text-decoration: none;
}

@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
	display: inline-table;
	background: tomato;
	padding: 15px;
	width: 100%;
	height: 150px;
	margin-top: 50px;
	line-height: 20px;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}
input {
    width: 100%;
    padding: 5px;
    margin: 0px;
    /*line-height: 0px;*/
    font-size: .8em;
    background: rgba(255, 255, 255, .75);
}
input[type="checkbox"] {
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"]:checked {
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: red;
}
h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  text-align: center;
}
h2 {
  font-size: 1.2em;
}
h3{
color:white;
display: block;
font-size: 1.17em;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
article {
  max-width: 100vw;
  padding: 5%;
}
section {
  max-width: 100vw;
}

#bio {
  text-align: left;
  font-size: 44px;
}
footer{
  z-index:1;
  clear:both;
  width: 100%;
  text-align: center;
  background-color: clear;
  color:yellow;
  padding-bottom: 1px;
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
}
#toggle {
  display: none;
}

/**
Hamburger
**/
.hamburger {
  position: fixed;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -5px;
  width: 2em;
  height: 45px;
  z-index: 101;
}

.hamburger div {
  position: relative;
  width: 2em;
  height: 7px;
  border-radius: 3px;
  background-color: red;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
  z-index: 101;
}

/**
Nav Styles
**/
nav {
	margin-top: 80px;
	    text-align: left;
	    margin-left: 10%;
}
nav a {
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  text-decoration: none;
  color: #D5D5D5;
  font-size: 12px;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  /*content: '';*/
  height: 0;
  position: absolute;
  width: 10px;
  background-color: clear;
  left: 15%;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: red;
}
nav a:hover:before {
  height: 100%;
}
.nav {
  float: right;
  position: fixed;
  width: 20%;
  top: 0%; left: 70%; right: 0; bottom: 0%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 101;
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 90%;
}
.nav a {
  font-size: 1.2em;
  margin: 5px;
}

#logo{
  clear: both;
  position: fixed;
  margin-top: 45px;
  left: 10px;
  top: 5px;
  width: 120px;
  height: 100px;
  z-index:100;
}
/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
/*
#info-submit, #edit-event-info, .button, button {
background-color: #aac556 ;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 15px;
}
#info-submit:hover, #edit-event-info:hover, .button:hover, button:hover {
background-color: #4CAF50 ;
}
.plusminus {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}*/
/*
.header-td {
  background-color: #aac556;
  border-radius: 15px 15px 0px 0px;
  padding: 10px 5px 5px 5px;
  color: white;
}
#total-cost-div {
  font-size: 12px;
  padding: 15px;
  margin: 15px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  border-radius: 15px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
